* {margin:0;padding:0;outline:0;font-family:Arial,Helvetica,sans-serif;}

#pageheader {
    background: url(../img/headerbg.png) top left repeat-x;
    height: 109px;
}

#header {
    height: 109px;
    margin: 0 150px;
    background: url(../img/feather.png) center top no-repeat transparent;
}

#logo {
    display: block;
    width: 150px;
    height: 65px;
    margin: 22px 0 0 20px;
    text-indent: -9999px;
    background: url(../img/logo.png) top left no-repeat;
    float: left;
    color: white;
    font-size: 60px;
    text-decoration: none;
}
#logo span { color: #ffd700; font-size: 30px;vertical-align: top;}

#slogan {
    diaplay: block;
    width: 247px;
    height: 29px;
    margin: 55px 0 0 10px;
    float: left;
    background: url(../img/slogan.png) left top no-repeat;
    text-indent: -9999px;
}

#login {
    width: 313px;
    height: 23px;
    float: right;
    border: 1px solid #175487;
    margin-top: 50px;
}

#login input {margin:0;padding:0 10px;}
#login input[type=text], #login input[type=password] {border:none;background:white;color:black;width:103px;height: 23px;line-height:23px;float:left;margin-right:1px;}
#login input[type=submit] {border:none;background:#175487;width: 65px; height: 23px;line-height:23px;color:white;}
#login input.blur {color:#999;}

#login a {
    font-size: 11px;
    color: white;
}

#registration {display:block; float: left; margin: 4px 0 0 7px;}
#forgot_password {display:block; margin: 4px 0 0 130px;}

#navbar {
    height: 36px;
    background: #256aa3;
    padding: 0 150px;
}

#navbar ul {
    list-style: none; list-style-position: outside;
}

#navbar ul li {
    float: left;
    line-height: 36px;
    padding: 0 12px;
}

#navbar ul li a {
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    font-size: 16px;
}

#navbar ul li.active a {
    color: #ffd700;
}

#navbar ul li:hover {
    background: #175487;
}

#search {
    width: 313px;
    height: 23px;
    float: right;
    border: 1px solid #175487;
    margin-top: 5px;
}

#search input {margin:0;padding:0 10px;}
#search input[type=text] {border:none;background:white;color:black;width:228px;height: 23px;line-height:23px;float:left;}
#search input[type=submit] {border:none;background:#175487;width: 65px; height: 23px;line-height:23px;color:white;}

#content {
    padding: 20px 150px 0;
    background: url(../img/contentbg.png) top left repeat-x transparent;
    font-size: 15px;
    line-height: 22px;
}

#content h1 {
    padding: 30px 0 20px 0;
    font-size: 30px;
    font-weight: normal;
    color: #256aa3;
}

#content h2 {
    padding: 20px 0 10px 0;
    font-size: 26px;
    font-weight: normal;
    font-style: oblique;
    color: #256aa3;
}

#content li {
    margin-left: 40px;
}

#content .code {
    background: #cfe7fb;
    padding: 30px 40px;
}

#content a {
    color: #0077bb;
}

#content a.hyperspec {
    color: #4040f2;
}

#footer {
    height: 53px;
    line-height: 53px;
    background: #256aa3;
    margin: 20px 0;
    padding: 0 25px;
    font-size: 16px;
}

#footer a {
    color: #ffd700;
}

#footer .separator {
    padding: 0 15px;
    color: white;
}

