// -*- closure-template-html -*-

{namespace cliki2.view}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main template
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template base}
    <html>
        <head>
            <title>{$title}</title>
            
            <link  rel="stylesheet" href="/css/style.css">
        </head>
        
        <body>
            <div class="top">
                {if $user.name}
                    <div id="login">
                        <a href="{$user.href}">{$user.name}</a> | 
                        <a href="{$user.signOut}" id="logout">Sign Out</a>
                    </div>
                {else}
                    <div id="login">
                        <a href="{$user.register}">Register</a> |
                        <a href="{$user.signIn}{if $callback}?done={$callback}{/if}">Sign In</a>
                    </div>
                {/if}
            </div>

            <div id="banner">
                <a title="cliki home article" class="logo" href="http://www.cliki.net/">
                    CL<span class="sub">iki</span> 
                </a> 
                the common lisp wiki
                <br />
                
                <div id="navbar">
                    <a href="/">home</a> 
                    <a href="changes">recent changes</a> 
                    <a href="about">about cliki</a> 
                    <a href="raw">text formatting</a> 
                    <a>create new article</a> 
                </div> 
            </div> 

            {$body |noAutoescape}
        </body> 
    </html>     
{/template}

{template forbidden}
    {call base}
        {param title: '403 Forbidden' /}
        {param user: $user /}
        {param body}
            <h1>Forbidden</h1>

            <p>
                You don't have permission to access {$uri} on this server.
            <p>
        {/param}
    {/call}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Article templates
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template article-not-found}
    {call base}
        {param title: $title /}
        {param user: $user /}
        {param body}
            <h1>Cliki2 does not have an article with this exact name</h1>
            <a href="{$createLink}">Create</a>
        {/param}
    {/call}
{/template}

{template article-action-links}
    <div id="footer">
        {if $view}
            <a href="{$view}">View</a>
        {/if}
        
        {if $edit}
            <a href="{$edit}">Edit</a> |
        {/if}

        {if $raw}
            <a href="{$raw}">Source</a> |
        {/if}

        {if $history}
            <a href="{$history}">History</a>
        {/if}
    </div> 
{/template}

{template view-article}
    {call base}
        {param title: $title /}
        {param user: $user /}
        {param body}
            <div class="content">
                {$content |noAutoescape}
            </div>

            {call article-action-links data="$links" /}
        {/param}
    {/call}
{/template}

{template edit-article}
    {call base}
        {param title: 'Edit ' + $title /}
        {param user: $user /}
        {param body}
            <form method="post">
                <form  method="post">
                    <div class="textarea">
                        <textarea rows="30" cols="80" name="content">
                            {nil}{$content}{nil}
                        </textarea>
                    </div>
                    
                    <div class="edit-buttons">
                        <input type="submit" value="Save" name="save" />
                        <input type="submit" value="Preview" name="preview" />
                        <input type="submit" value="Cancel" name="cancel" />
                    </div>
                </form>

                {if $preview}
                    {$preview |noAutoescape}
                {/if}
            </form>
        {/param}
    {/call}    
{/template}


{template view-article-history}
    {call base}
        {param title: 'History of article: ' + $title /}
        {param user: $user /}
        {param body}
            <ul>
                {foreach $revision in $history}
                    <li>
                        <a href="{$revision.href}">{$revision.date}</a>
                        <a href="{$revision.author.href}">{$revision.author.name}</a>
                    </li>
                {/foreach}
            </ul>

            {call article-action-links data="$links" /}
        {/param}
    {/call}
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * User
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template sign-in}
    {call base}
        {param title: 'Sign In' /}
        {param user: $user /}
        {param body}
            <div>
                <form  class="sign-form" method="post">
                    <table >
                        <tbody>
                            <tr>
                                <td>Nickname</td>
                                <td><input name="name" /></td>
                            </tr>

                            <tr>
                                <td>Password</td>
                                <td>                            
                                    <input type="password" name="password"/>
                                    <a href="{$forgotHref}" >Forgot?</a>
                                </td>
                            </tr>

                            <tr>
                                <td />
                                <td><input type="submit" value="Sing In" /></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>

        {/param}
    {/call}
{/template}

{template register-form}
    <form method="post">
        <table>
            <tbody>
                <tr>
                    <td>Nickname:</td>
                    <td>
                        {if $badName}
                            <div class="error-info">
                                {switch $badName}
                                    {case 'empty'} Login is empty
                                        {case 'exist'} User with like nickname already exist
                                        {/switch}
                            </div>
                        {/if}
                        <input name="name" size="30" {if $name}value="{$name}"{/if} /> 
                        <div class="info">Sample: graham, Piter.Norvig </div> 
                    </td>
                </tr>

                <tr>
                    <td>Email:</td>
                    <td>
                        {if $badEmail}
                            <div class="error-info">
                                {switch $badEmail}
                                    {case 'empty'} email required
                                        {case 'bad'} It does not seem as email
                                            {case 'exist'} User with like email arleady exist
                                            {/switch}
                            </div>
                        {/if}
                        <input name="email" size="30" {if $email}value="{$email}"{/if}/>
                    </td>
                </tr>

                <tr>
                    <td>Password:</td>
                    <td>
                        {if $badPassword}
                            <div class="error-info">
                                {switch $badPassword}
                                    {case 'empty'} Password required
                                        {case 'short'} Too short password
                                        {/switch}
                            </div>
                        {/if}
                        <input name="password" type="password" size="30" {if $password}value="{$password}"{/if} />
                        <div class="info">Minimum length - 8 characters</div>
                    </td>
                </tr>

                <tr>
                    <td>Repeat password:</td>
                    <td>
                        {if $badRePassword}
                            <div class="error-info">
                                Passwords do not match
                            </div>
                        {/if}
                        <input name="re-password" type="password" size="30" {if $rePassword}value="{$rePassword}"{/if}/>
                    </td>
                </tr>
            </tbody>
        </table>

        <br />

        <div>
            {if $badRecaptcha}
                <div class="error-info">
                    reCaptcha failed
                </div>
            {/if}

            <script>
                var RecaptchaOptions = {lb} theme : "{$theme ? $theme : 'clean'}", lang: "en" {rb};
            </script>

            <script type="text/javascript"
                    src="http://api.recaptcha.net/challenge?k={$recaptchaPubkey}">
            </script>

            <noscript>
                <iframe src="http://api.recaptcha.net/noscript?k={$recaptchaPubkey}"
                        height="300" width="500" frameborder="0"></iframe><br />
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field" 
                       value="manual_challenge" />
            </noscript>
        </div>

        <br />
        <input type="submit" value="Create account" />
    </form>

{/template}

{template register}
    {call base}
        {param title: $title /}
        {param user: $user /}
        {param body}
            <div>
                <h3>Create account</h3>

                {call register-form data="$data" /}
            </div>
        {/param}
    {/call}
{/template}

{template register-continue}
    {call base}
        {param title: 'Register' /}
        {param user: $user /}
        {param body}
            <div>
                <p>You receive an email with a link to continue registration.</p>
            </div>
        {/param}
    {/call}
{/template}

{template confirmation-mail}
    {nil}To: {foreach $receiver in $to}{if not isFirst($receiver)}{sp}{/if}{$receiver}{/foreach}{\n}
    {nil}From: {$noreplyMail}{\n}
    {nil}Subject: {$subject}{\n}
    {nil}Content-Type: text/html; charset=utf-8{\n}
    {\n}

    Hi,
    <p>
        For complete registration on <a href="http://{$host}/">{$host}</a> go to <a href="{$link}">{$link}</a>.
    </p>

    <p>
        If you are not registered on the  <a href="http://{$host}">{$host}</a> then just ignore this message.
    </p>

    Keeper
{/template}

{template confirm-registration}
    {call base}
        {param title: 'Register' /}
        {param user: $user /}
        {param body}
            <p>
                <form method="post">
                    <input type="submit" value="Confirm registration" />
                </form>
            </p>
        {/param}
    {/call}
{/template}

{template success-registration}
    <div>
        Congratulations on your successful registration
    </div>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Person templates
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template view-person}
    {call base}
        {param title: $title /}
        {param user: $user /}
        {param body}
            <div class="content">
                {$content |noAutoescape}
            </div>

            {if $editLink}
                <div id="footer">
                    <a href="{$editLink}">Edit</a>
                </div>
            {/if}
        {/param}
    {/call}
{/template}


{template edit-person}
    {call base}
        {param title: 'Edit ' + $title /}
        {param user: $user /}
        {param body}
            <form method="post">
                <form  method="post">
                    <div class="textarea">
                        <textarea rows="30" cols="80" name="content">
                            {nil}{$content}{nil}
                        </textarea>
                    </div>
                    
                    <div class="edit-buttons">
                        <input type="submit" value="Save" name="save" />
                        <input type="submit" value="Preview" name="preview" />
                        <input type="submit" value="Cancel" name="cancel" />
                    </div>
                </form>

                {if $preview}
                    {$preview |noAutoescape}
                {/if}
            </form>
        {/param}
    {/call}    
{/template}

