// -*- closure-template-html -*-

{namespace cliki2.view}

{template base}
<!DOCTYPE html>{\n}
    <html>
        <head>
            <title>{$title}</title>
            <link  rel="alternate" type="application/rss+xml" title="recent changes" href="/feed/rss.xml">
            <link  rel="stylesheet" href="/css/style.css">
            <link  rel="stylesheet" href="/css/colorize.css">
            <script type="text/javascript" src="/js/jquery.js"></script>
            <script type="text/javascript" src="/js/jquery.hint.js"></script>
            <script type="text/javascript" src="/js/utils.js"></script>
        </head>

        <body>
            <div id="pageheader">
                <div id="header">
                    <a title="CLiki: the common lisp wiki" id="logo" href="/">CL<span>iki</span></a>
                    <span id="slogan">the common lisp wiki</span>

                    <div id="login">
                        {if $user.name}
                            Hello, <a href="{$user.href}">{$user.name}</a>
                            <a href="{$user.signOut}">Log out</a>
                        {else}
                            <form method="post" action="{$user.signIn}">
                                <input type="text" name="name" title="login" />
                                <input type="password" name="password" />
                                <input type="submit" value="enter" />
                                <a id="registration" href="{$user.register}">Registration</a>
                                <a id="forgot_password" href="{$forgotHref}">Forgot password</a>
                            </form>
                        {/if}
                    </div>
                </div> 
            </div>
            
            <div id="navbar">
                <ul>
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/specials/recent-changes">Recent Changes</a></li>
                    <li><a href="/about">About CLiki</a></li>
                    <li><a href="/Text%20Formating">Text Formatting</a></li>
                </ul>
                <div id="search">
                    <form action="/specials/search">
                        <input type="text" name="query" {if $query}value="{$query}"{/if} />
                        <input type="submit" value="search" />
                    </form>
                </div> 
            </div>

            <div id="content">
                {$body |noAutoescape}
            </div>
        </body> 
    </html>     
{/template}

{template forbidden}
    {call base}
        {param title: '403 Forbidden' /}
        {param user: $user /}
        {param body}
            <h1>Forbidden</h1>

            <p>
                You don't have permission to access {$uri} on this server.
            <p>
        {/param}
    {/call}
{/template}

{template internal-server-error}
    {call base}
        {param title: '500 Internal Server Error' /}
        {param user: $user /}
        {param body}
            <h1>Internal Server Error</h1>

            <p>An error has occured<p>
        {/param}
    {/call}
{/template}

