// -*- closure-template-html -*-

{namespace cliki2.view}

{template article-link}
    <a href="{$href}" class="{$new ? 'new' : 'internal'}">{$title}</a>
{/template}

{template person-link}
    <a href="{$href}" class="person">{$name}</a>
{/template}

{template hyperspec-link}
    <a href="{$href}" class="hyperspec">{$symbol}</a>
{/template}

{template code-block}
    <div class="code">
        {$code |noAutoescape}
    </div>
{/template}

{template category-link}
    <a href="{$href}" class="category">{$title}</a>
{/template}

{template category-content}
    <ul>
        {foreach $item in $items}
            <li>
                {call article-link data="$item" /}
                -
                {$item.head |noAutoescape}
            </li>
        {/foreach}
    </ul>
{/template}

{template package-link}
    <a href="{$href |escapeUri}" class="download">Download ASDF package from {$href}</a>
{/template}
