// -*- closure-template-html -*-

{namespace cliki2.view}

{template recent-changes}
    {call base}
        {param title: 'Recent Changes' /}
        {param user: $user /}
        {param body}
            <h1>Recent Changes</h1>

            <ul>
                {foreach $revision in $revisions}
                    <li>
                        <a href="{$revision.href}">{$revision.date}</a>
                        {$revision.title} - {$revision.summary}
                        <a href="{$revision.author.href}">{$revision.author.name}</a>
                    </li>
                {/foreach}
            </ul>
        {/param}
    {/call}
{/template}


{template rss-feed}
   {nil}<?xml version="1.0" encoding="utf-8"?>{\n}
    <rss version="2.0">
        <channel>
            <title>{$title}</title>
            <link>{$link}</link>
            <description>{$description}</description>

            {foreach $item in $revisions}
                <item>
                    <title>{$item.author.name}: {$item.title}</title>
                    <link>{$item.href}</link>
                    <description>{$item.summary}</description>
                    <pubDate>{$item.date}</pubDate>
                </item>
            {/foreach}
        </channel>
    </rss>
{/template}

{template view-article-history}
    {call base}
        {param title: 'History of article: ' + $title /}
        {param user: $user /}
        {param body}
            <form method="post">
                <input type="submit" value="Compare selected versions" />
                <ul id="pagehistory">
                    {foreach $revision in $revisions}
                        <li>
                            <input type="radio" value="{$revision.href}" name="old" />
                            <input type="radio" value="{$revision.href}" name="diff" />
                            <a href="{$revision.href}">{$revision.date}</a>
                            {$revision.summary}
                            <a href="{$revision.author.href}">{$revision.author.name}</a>
                        </li>
                    {/foreach}
                </ul>
            </form>
            {call article-action-links data="$links" /}
        {/param}
    {/call}
{/template}

{template view-revisions-diff}
    {call base}
        {param title: 'Diff' /}
        {param user: $user /}
        {param body}
            <table id="diff">
                <tbody>
                    <tr>
                        <td>
                            {$left |noAutoescape}
                        </td>

                        <td>
                            {$right |noAutoescape}
                        </td>
                    </tr>
                </tbody>
            </table>

            {call article-action-links data="$links" /}            
        {/param}
    {/call}
{/template}
