// -*- closure-template-html -*-

{namespace cliki2.view}

{template recent-changes}
    {call base}
        {param title: 'Recent Changes' /}
        {param user: $user /}
        {param body}
            <h1>Recent Changes</h1>

            <ul>
                {foreach $revision in $revisions}
                    <li>
                        <a href="{$revision.href}">{$revision.date}</a>
                        {$revision.title} - {$revision.summary}
                        <a href="{$revision.author.href}">{$revision.author.name}</a>
                    </li>
                {/foreach}
            </ul>
        {/param}
    {/call}
{/template}


{template rss-feed}
   {nil}<?xml version="1.0" encoding="utf-8"?>{\n}
    <rss version="2.0">
        <channel>
            <title>{$title}</title>
            <link>{$link}</link>
            <description>{$description}</description>

            {foreach $item in $revisions}
                <item>
                    <title>{$item.author.name}: {$item.title}</title>
                    <link>{$item.href}</link>
                    <description>{$item.summary}</description>
                    <pubDate>{$item.date}</pubDate>
                </item>
            {/foreach}
        </channel>
    </rss>
{/template}

{template view-article-history}
    {call base}
        {param title: $title /}
        {param user: $user /}
        {param body}
            <h1>{$title}</h1>
            
            <form method="post">
                <input type="submit" value="Compare selected versions" />
                
                <ul id="pagehistory">
                    {foreach $revision in $revisions}
                        <li>

                            <input type="radio"
                                   value="{$revision.href}"
                                   {if isFirst($revision)}style="visibility: hidden;"{/if}
                                   name="old" />
                            
                            <input type="radio"
                                   value="{$revision.href}"
                                   {if isLast($revision)}style="visibility: hidden;"{/if}
                                   name="diff" />
                            
                            <a href="{$revision.href}">{$revision.date}</a>
                            
                            {$revision.summary}
                            
                            <a href="{$revision.author.href}">{$revision.author.name}</a>
                        </li>
                    {/foreach}
                </ul>

                <input type="submit" value="Compare selected versions" />
            </form>
            {call article-action-links data="$links" /}
        {/param}
    {/call}
{/template}
