// -*- closure-template-html -*-

{namespace cliki2.view}

{template nav-panel}
    <div id="paginator">
        <span>Result page:</span>
        <ul>
        {for $p in range( ceiling( $total / $pageSize))}
            <li>
                {if $p*$pageSize == $start}
                {$p + 1}
                {else}
                <a href="?query={$query |escapeUri}&start={$p*$pageSize |escapeUri}">{$p + 1}</a>
                {/if}
            </li>
        {/for}
        </ul>
        <div class="clear"></div>
    </div>
{/template}

{template search-results}
    {call base}
        {param title: 'Search results' /}
        {param user: $user /}
        {param query: $query /}
        {param body}
            {if $articles}
                <h1>Search results</h1>

                <ol start="{$start + 1}">
                    {foreach $article in $articles}
                        <li>
                            <a href="{$article.href}">
                                {$article.title}
                            </a>
                            <div class="info">
                                <strong>Score:</strong>
                                {$article.score} <br />

                                {if $article.labels}
                                    <strong>Labels:</strong>
                                    {foreach $label in $article.labels}
                                        {if not isFirst($label)}, {/if}
                                        {$label}
                                    {/foreach}
                                    <br/>
                                {/if}

                                <strong>Changed:</strong>
                                {$article.changed}
                            </div>
                        </li>
                    {/foreach}
                </ol>

                {call nav-panel data="all" /}
            {/if}
        {/param}
    {/call}
{/template}

